In [40]:
import requests as req
from bs4 import BeautifulSoup as bs

# Iframe

- 화면상에 정보는 보이지만 실제 데이터는 다른 공간에 존재할 때 사용

In [41]:
# iframe은 다른 공간에 존재하는 정보를 화면에 표출만 해준다
# 해결법 = 실제 데이터가 존재하는 url로 요청을 보내야한다
# iframe태그의 src안에 있는 경로를 사용하면 된다
# 대부분의 경로는 상대경로로 작성이 되어있다
# 상대경로를 절대경로와 합쳐서 url 제작

In [42]:
# iframe 경로로 찾아서가야함!
res = req.get("https://finance.naver.com/marketindex/exchangeList.naver")
res.text

soup= bs(res.text,"lxml")

In [43]:
title = soup.select("body > div > table > tbody > tr > td.tit > a")
money = soup.select("body > div > table > tbody > tr > td.sale")

In [44]:
# 개행문자 혹은 공백 등을 지울때는 strip()을 활용

title_list = []
money_list = []
list1 = []
for i in title:
    title_list.append(i.text.strip())
    
for i in money:
    money_list.append(i.text.strip())
    
for i in range(1,59):
    list1.append(i)

title_list
money_list

['1,338.10',
 '1,459.33',
 '919.44',
 '182.72',
 '170.99',
 '41.93',
 '1,699.25',
 '3,475.67',
 '991.37',
 '1,522.99',
 '123.19',
 '862.20',
 '796.70',
 '60.52',
 '1.55',
 '49.44',
 '0.39',
 '357.47',
 '195.84',
 '127.09',
 '356.75',
 '4,348.72',
 '3,549.43',
 '364.32',
 '1,887.31',
 '43.30',
 '37.75',
 '984.95',
 '288.38',
 '8.75',
 '367.09',
 '2.96',
 '984.95',
 '16.04',
 '4.60',
 '12.23',
 '23.53',
 '78.11',
 '268.38',
 '5.59',
 '69.84',
 '13.52',
 '3.76',
 '325.94',
 '4.18',
 '9.85',
 '9.30',
 '0.33',
 '0.53',
 '10.08',
 '295.36',
 '277.96',
 '165.89',
 '0.64',
 '24.26',
 '0.11',
 '0.32',
 '585.02']

In [45]:
import pandas as pd
dic = {"통화명": title_list,"매매기준율":money_list, "순위":list1}
fiance = pd.DataFrame(dic)

fiance.set_index("순위",inplace=True)
fiance

              통화명     매매기준율
순위
1          미국 USD  1,338.10
2        유럽연합 EUR  1,459.33
3   일본 JPY (100엔)    919.44
4          중국 CNY    182.72
5          홍콩 HKD    170.99
6          대만 TWD     41.93
7          영국 GBP  1,699.25
8          오만 OMR  3,475.67
9         캐나다 CAD    991.37
10        스위스 CHF  1,522.99
11        스웨덴 SEK    123.19
12         호주 AUD    862.20
13       뉴질랜드 NZD    796.70
14         체코 CZK     60.52
15         칠레 CLP      1.55
16       튀르키예 TRY     49.44
17         몽골 MNT      0.39
18       이스라엘 ILS    357.47
19        덴마크 DKK    195.84
20       노르웨이 NOK    127.09
21    사우디아라비아 SAR    356.75
22       쿠웨이트 KWD  4,348.72
23        바레인 BHD  3,549.43
24     아랍에미리트 AED    364.32
25        요르단 JOD  1,887.31
26        이집트 EGP     43.30
27         태국 THB     37.75
28       싱가포르 SGD    984.95
29      말레이시아 MYR    288.38
30  인도네시아 IDR 100      8.75
31        카타르 QAR    367.09
32      카자흐스탄 KZT      2.96
33       브루나이 BND    984.95
34         인도 INR     16.04
35       파키스탄 PKR      4.60
36      방글라데시 BDT     12.23
37        필리핀 PHP     23.53
38        멕시코 MXN     78.11
39        브라질 BRL    268.38
40    베트남 VND 100      5.59
41  남아프리카 공화국 ZAR     69.84
42        러시아 RUB     13.52
43        헝가리 HUF      3.76
44        폴란드 PLN    325.94
45       스리랑카 LKR      4.18
46        알제리 DZD      9.85
47         케냐 KES      9.30
48       콜롬비아 COP      0.33
49       탄자니아 TZS      0.53
50         네팔 NPR     10.08
51       루마니아 RON    295.36
52        리비아 LYD    277.96
53        마카오 MOP    165.89
54        미얀마 MMK      0.64
55      에티오피아 ETB     24.26
56     우즈베키스탄 UZS      0.11
57       캄보디아 KHR      0.32
58         피지 FJD    585.02